<h1>multimedia</h1>

<h2>Audio syntesis</h2>
<p>save speech to wav</p>
<code>
espeak "what is your name?" --stdout >> what_is_your_name.wav
</code>

<p>..and convert to mp3 and ogg in batch mode:</p>
<code>
for f in *.wav; do ffmpeg -i "$f" -c:a libmp3lame -q:a 2 "${f/%wav/mp3}" -c:a libvorbis -q:a 4 "${f/%wav/ogg}"; done
<br>
or:<br>
for file in *.ogg; do ffmpeg -i "$file" "${file%.ogg}".mp3; done 
</code>

<h2>video processing: ffmpeg</h2>
	

<p>Convert .avi to mpeg for dvd players (http://www.catswhocode.com/blog/19-ffmpeg-commands-for-all-needs)
</p>

<code>
ffmpeg -i source_video.avi -target pal-dvd -ps 2000000000 -aspect 16:9 finale_video.mpeg
</code>

<p>Compress avi uncompressed to h64 lossless:</p>
<code>ffmpeg -i sample.avi -c:v libx264 -preset slow -crf 17 sample.mkv</code>

<p>
limit the size of the output, in bytes. i.e, 4.7GB: 
</p>

<p>
-fs 5000000000 
</p>

<h2>recording video from webcam into file (no audio)</h2>
<p>ffmpeg -f oss -i /dev/dsp -f video4linux2 -s 320x240 -i /dev/video0 out.mpg
</p>

<h2>Normalize the volume</h2>
<ol>
	<li> check the output of this file: <br><code>ffmpeg -i FILE -af "volumedetect" -f null /dev/null</code><br>
	if max volume is less than zero, that is the amount you need for the next step. (i.e: -12dB)
</li>
<li>ffmpeg -i FILE -af "volume=12.0dB"  OUTFILE</li>
</ol>
<a href="http://superuser.com/questions/323119/how-can-i-normalize-audio-using-ffmpeg/">reference</a>

<p>also, you can use a sepparate tool named normalize-audio (http://askubuntu.com/questions/331736/normalize-ogg-audio-files-with-the-command-line)</p>


<h2>mixing different sound files in a single one</h2>
<p>this command takes care of the differences in length, keeping the total length equal to the longest one <a href="http://stackoverflow.com/questions/14498539/how-to-overlay-two-audio-files-using-ffmpeg#14528482">source</a></p>

<code>
ffmpeg -i flute_long.ogg -i gallop.ogg -i wind.ogg -filter_complex "[0:0][1:0] amix=inputs=3:duration=longest"  main.ogg
</code>
