<h1>Git commands</h1>


<p>
this one will save your life, if by mistake you delete both the remote and local branch:
</p>
<code>
  git log -g
</code>
</p>
http://stackoverflow.com/questions/19592275/git-recover-branch-deleted-on-remote-and-local-folder-deleted
</p>

<p>
cool command line tool for inspect git history:
<a href="https://github.com/rgburke/grv">https://github.com/rgburke/grv</a>
</p>
<code>
grv -repoFilePath ./
</code>

<p>checkout a branch:</p>
<code>
git checkout BRANCH_NAME
</code>

<p>create a new local branch and then upload it to the origin</p>
<code>
  git checkout -b BRANCH_NAME<br>
git push origin -u BRANCH_NAME
</code>

<p>commit only changes in the given branch</p>
<code>
git push origin BRANCH_NAME
</code>

<p>List all available branches</p>
<code>
git branch -a
</code>

<p>Update the local repo with the status of all the remote branches</p>
<code>
git fetch
</code>

<p>Delete a remote branch</p>
<code>
git push origin --delete BRANCH_NAME
</code>

<p>delete a local branch</p>
<code>
git branch -d BRANCH_NAME
</code>


<p>Bring down remote branches</p>
<code>
git pull
</code>

<p>save/restore temporal changes into a local stack</p>
<code>
git stash / git stash pop
</code>

<p>compare two branches, displaying only the names of the files that changed</p>
<code>
git diff --name-status branch1..branch2
</code>

<p>compare same file in two branches</p>
<code>
git diff branch1 branch2 -- myfile
</code>

<p>Compare a file added to stage with version in HEAD. </p>
<code>
git diff HEAD -- file<br>
git diff HEAD^^ HEAD file<br>
git diff HEAD~2 HEAD file 
</code>

<p>See the detailed history and changes of a single file </p>

<code>
git log --follow -p FILENAME
</code>

<p>merge a specific file (two steps!): </p>
<code>
git checkout branch_destiny<br>
git checkout --patch branch_source file
</code>

<p>list the commits and comments of the current branch</p>
<code>
git log<br>
git log --pretty=oneline<br>
list graph, hash, author, date, subject<br>
git log --pretty=format:"%H %an %ar %s" --graph
</code>

<p>reset the last commit, but before a push</p>
<code>
git reset HEAD^
</code>

<p>revert to origin, destroying local changes and files in conflict
</p>
<code>
   git reset --hard origin/branchname
</code>


<p>add a annotated tag </p>
<code>
git tag - a name
</code>

<p>zip the files that had changed</p>
<code>
git archive --format zip -o changed.zip HEAD `git diff --name-only HASH`
</code>
<p>ref: (from <a href="http://www.ls12style.co.uk/blog/2011/09/git-tip-creating-zip-of-changed-files/">http://www.ls12style.co.uk/blog/2011/09/git-tip-creating-zip-of-changed-files/</a>)</p>

<p>listing remotes</p>
<code>
git remote -v
</code>

<p>Adding a remote</p>
<code>
git remote add REMOTE_NAME REMOTE_URL
</code>

<p>update a fork with the upstream (need the upstream to had been added)</p>
<code>
  git fetch upstream<br>
  git checkout BRANCH<br>
  git merge upstream/BRANCH
</code>
