<h1>VIM</h1>

<h2>Search</h2>
<p>search file by name and edit:</p>
<code>
  :find **/exactFileName
</code>

<p>Search files that contains expresion, and open the quickfix list to browse the results:</p>
<code>
  :grep -r "expresion" .
  :copen
  :close
</code>

<h2>Registers</h2>
<p>copy or paste into multiple registers:</p>
<code>
  "{register} followed by y, d, p
</code>

<h2>markers</h2>

<ul>
  <li>mk (set marker to k, You can use up to 26 markers a-z</li>
  <li>‘k move to the begging of the line of marker location ‘k’</li>
  <li>`k move to marker ‘k’</li>
</ul>

<h2>macros</h2>

<p>q{letter} to enter recording mode.</p>
<p>q to stop recording mode.</p>
<p>{number}@{letter} to execute. number defaults to 1</p>
<p>ex: "qq" starts recording macro named 'q'. "@q" executes it.</p> 


<h2>others</h2>
<p>
:set number #enable line numbering
</p>

<p>
:set tabstop=2 #set tab size
</p>

<p>
:set nowrap #disable wrapping
</p>

<p>
#use vi mode in the shell
</p>
<p>
set -o vi #for bash
</p>
<p>
bindkey -v #for zshell
</p>

<p>
vit (Visually select In Tag) #select content inside a tag
</p>

<p>
%s/foo/bar/g #replace in the whole document
</p>

<p>
% = move to matching brace
</p>

<p>
:set mouse:a
</p>


<p>
///vim plugins and addons..
</p>

<p>
</p>
-----------
<p>
nice color schema: https://github.com/jnurmine/Zenburn
</p>

<p>
cd ~/.vim
</p>
<p>
mkdir colors
</p>
<p>
cd colors
</p>
<p>
wget https://raw.githubusercontent.com/jnurmine/Zenburn/master/colors/zenburn.vimexport TERM=xterm-256color
</p>

<p>
 Edited ~/.vimrc to add the following:
</p>
<p>
    set t_Co=256
</p>
<p>
    set background=dark
</p>
<p>
    colors zenburn
</p>
<p>
-----------------
</p>

<p>
NERD_tree.vim: for a file listing/ide-like tree
</p>
<p>
https://github.com/scrooloose/nerdtree
</p>

<p>
pre: requires pathongen :(
</p>
<p>
mkdir -p ~/.vim/autoload ~/.vim/bundle && \
</p>
<p>
curl -LSso ~/.vim/autoload/pathogen.vim https://tpo.pe/pathogen.vim
</p>
<p>
added to vimrc:
</p>
<p>
execute pathogen#infect()
</p>
<p>
syntax on
</p>
<p>
filetype plugin indent on
</p>

<p>
execute with :NERDTree
</p>

